[submodule "common"]
	path = common
	url = https://github.com/BruceFreedy/common
	branch = master


[submodule "freedylang"]
	path = freedylang
	url = https://github.com/BruceFreedy/freedylang
	branch = master


[submodule "mcfreedylang"]
	path = mcfreedylang
	url = https://github.com/BruceFreedy/mcfreedylang
	branch = master

[submodule "freedysource"]
	path = freedysource
	url = https://github.com/BruceFreedy/freedysource
